.version-wrapper {
  display: flex;
  gap: 5px;
}

.version {
  border: 1px solid;
  padding: 5px;
  margin: 5px 0;
  min-width: 100px;
  transition: linear 0.2s;
  width: 180px;
  &:hover {
    cursor: pointer;
    opacity: 0.7;
  }
  &.active {
    background-color: green;
  }
}
