<div class="wrapper">
  <ng-container *ngIf="videoPlaylist$ | async as versions">
    <ng-container *ngIf="versions.length">
      <div class="tools">
        <button (click)="togglePlayingState()">
          {{ isPlaying ? "Pause" : "Play" }}
        </button>
      </div>
      <div
        class="video-menu-wrapper"
        (pointermove)="onPointerMove($event)"
        (pointerdown)="onPointerDown($event)"
      >
        <ng-container *ngFor="let version of versions">
          <div class="slider loading" [id]="version.id">
            <div
              id="cursor_{{ version.id }}"
              class="slider-cursor"
              [class.visible]="version.id === currentVersionId"
            ></div>
          </div>
        </ng-container>
      </div>
    </ng-container>
  </ng-container>
</div>
